.section-4 {
  width: 100%;
  text-align: center;
}

.header-4 { 
  min-height: 180px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-4 h2 { margin: 30px; }
.header-4 nav { width: 100%; margin-bottom: 20px;;}
.header-4 nav ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.header-4 nav ul li { list-style: none; }

.link-text { 
  text-decoration: none;
  color: #000;
  font-size: 14px; 
  font-weight: 500;
}
.link-text:hover {
  color: #555;
}
.text-yellow {
  color: #e8b860;
}

.list-img img{
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .list-img {
    display: flex;
    flex-wrap: wrap;
  }
  .list-img img {
    width: 25%;
  }
}

@media only screen and (min-width: 992px) {
  .header-4 {
    max-width: 992px;
    margin: 0 auto; 
  }
  .header-4 nav ul {
    justify-content: space-evenly;
  }
  .list-img {
    max-width: 992px;
    margin: 0 auto;
  }
}